body,
h1,
p,
ul,
ol,
li,
form,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
em,
var,
i,
b {
  font-style: normal;
}

small {
  font-size: 1.2rem;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #c6c6c6
}

a:hover {
  color: red;
  cursor: pointer
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

legend {
  color: #000;
}

fieldset,
img {
  border: 0;
}

button,
input,
select,
textarea {
  font-size: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html,
body,
#App {
  background: #fff;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden
}

.header {
  padding: 1rem 0.7rem;
  min-height: 4rem;
  line-height: 4rem;
  box-shadow: 0 0 0.5rem 0.1rem #ccc;
  margin-bottom: 1rem;
  position: relative;
  background: #fff;
  color: #777

}
.header::after{
  display: block;
  content: '';
  clear: both;
}

.content {
  min-height: 67rem;
  background: #fff
}

.clear {
  clear: both
}

.fl {
  float: left
}

.fr {
  float: right
}

.tc {
  text-align: center
}

.tr {
  text-align: right
}

.big-icon {
  font-size: 3rem
}

.el-table .cell {
  white-space: nowrap
}

.input {
  width: 18rem;
  display: inline-block
}

.big-font {
  font-size: 1.7rem;
  font-weight: bold
}

.iconfont {
  font-size: 1.2rem;
}

.el-tag {
  margin: 3rem 0 0
}
.el-input__inner{
  height: 3rem;
}
.el-upload-dragger{
  width: 30rem
}
.el-form-item__label,.el-table {
  font-size: 1.2rem
}
el-form-item__content{
  margin-left: 0
}